@import url("index.css");

select {
	min-height: 1.7em;
}

input[type="text"] {
	min-height: 1.4em;
}

textarea {
  min-height: 2em
}

.oddline {
	color: infotext;
	background-color: infobackground;
}

.color {
	border-radius: 2px;
}

.window {
	border: 1px solid buttonshadow;
}

.window td {
	border: 1px solid buttonshadow;
}

.footer {
  width: 100%;
  line-height: 1.5em
}

.text1 {
	color: windowtext;
	background-color: window;
	border: 1px solid buttonshadow;
	white-space: nowrap;
}

.location {
	width: calc(100vh / 3);
}

